#nav-brandcustom{
    font-family: 'Homemade Apple', cursive;
    font-size: 50px;
    
    
    
    }
    #nav-brandcustomMobile{
        font-family: 'Homemade Apple', cursive;
        font-size: 20px;
        padding-top:0;
        padding-left:20px;
    }
.nav-custom {
    background-color:white;
    color:rgb(219, 146, 62);
    
}
.link-custom{
    color:rgb(219, 146, 62);
    font-family: 'Amatic SC', bold;
    font-size:40px;
}
.link-custom:hover{
    color:rgb(219, 146, 62);
}

.color{
     background-color:rgb(219, 146, 62);
  }
.picDiv{
      display:flex;
      margin: 0 0;
      padding-top: 10%;
      padding-left: none;
      padding-right: none;

     
  }
  .nobord{
      margin-left:0;
  }
  .navbar-light{
    color:rgb(219, 146, 62);
}
.mobbrand{
    font-family: 'Homemade Apple', cursive;
    font-size: 25px;
    color:rgb(219, 146, 62);
    text-align:center;

}
.coming_soon{
    padding-top: 15%;
    padding-bottom:10%;
    font-family: 'Homemade Apple', cursive;
    font-size: 100px;
    color:rgb(83, 58, 28);
    text-align:center;

}
img{
    max-width: calc(100vw - 5px);
    object-fit: cover;
    max-height: calc(100vh - 35px);
  }
  
  
  





   



/*bottom contact info  index*/
.contact{
    
    
    font-family:'Amatic SC', bold;
    font-size:35px;
    color:rgb(165, 106, 38);
    justify-content: center;
    text-align: center;
    padding-top: 4%;
}


.social_bar{
    justify-content: center;
    
}
#insta-icon{
    width:80px;
    height:80px;
 }
 .grad{
    background-image: url("background.jpg");
    background-size:100% 100%;
    background-repeat:no-repeat;
    
    
 }