

#nav-brandcustom {
	font-family: 'Amatic SC', cursive;
	font-size: 3vh;}

#nav-brandcustomMobile {
	font-family: 'Amatic SC', cursive;
	font-size: 3vh;
	
}
.logoBrand{
	height:7vh;
	width: auto;
}

.navbar-brand {
	font-family: "AntoneStandard";
	margin-right: 32%;
	
}
.container {
	padding: 0;
}
.nav-custom {
	background-color:#FBFCF5;
	color: rgb(219, 146, 62);
}
.link-custom {
	color:#AF5F44;
	font-family: 'Amatic SC', cursive;
	font-size: 3vh;
}
a{
	color:#AF5F44;

}
a:hover{
color: white;
	text-decoration:none;
}
.link-custom:hover {
	color: #C68D7A;
}

.color {
	background-color: rgb(219, 146, 62);
}
.picDiv {
	background-color: white;
	border: 10px solid white;
}


.coming_soon {
	padding-top: 15%;
	padding-bottom: 10%;
	font-family: "AntoneStandard";
	font-size: 100px;
	color: rgb(83, 58, 28);
	text-align: center;
}


.middleDiv {
	background-color: white;
	height: 40vh;
}

/*bottom contact info  index*/
.contact {
	font-family: "AntoneStandard";
	font-size: 3vh;
	color:#A57961;
	justify-content: center;
	text-align: center;
	padding-top: 30vh;
}
.formDiv{
	padding-top:25vh;
}

.social {
	margin:auto;
}
#insta-icon {
	width: 80px;
	height: 80px;
}

.logo{
	height:10vh;
	width:auto;
}
.picsc{
	padding-top: 15vh; 
}
.mpic{
	margin-right: auto;
	margin-left:auto;
	display:block;
	height:50vh;
	width:43vh;

}

.about{
	font-family: 'Sarabun', sans-serif;
	font-size: 2.5vh;
    flex-direction: end;
	padding-left:20px;
	text-align: left;
}
.about2{
	font-size: 3vh; 
	font-family: 'Epilogue', sans-serif;
    flex-direction: start;
	padding-left:20px;
}

.intro{
	color:#AD5C40;
}
.form-control{
	border:none;
}
.imgr{
	float:right;
	width:40vw;
	height:auto;
}
/* .btnClass{
	font-family: 'Sarabun', sans-serif;
	font-size: 2.5vh;
	background-color: white;
	color:#AD5C40;
} */

/* .bgimg{
	background-image:url(/images/tsm4.jpg);
	height: 100%; */

  /* Create the parallax scrolling effect */
  /* background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
/* } */
.divcol{
	background-color: #FBFCF5;
	
}
li{
	align-self: flex-end;
}
body{
	background-color: #FBFCF5;
}
.btn-outline-secondary{
	border-color:#AD5C40;
	color:#AD5C40;
}
.btn-outline-secondary:hover {
    color: #fff;
    background-color: #AD5C40;
    border-color: #AD5C40;
}
 
